<h3>{{title}}</h3>@import url(https://fonts.googleapis.com/css?family=Wire+One|Play);

* {margin: 0;padding: 0;outline:0;}

.login-body {
  font-family: 'Wire One', Helvetica, Arial, sans-serif;
  background-image: url(resources/background.jpg);
}

.box {
  background: #f0f0f0;
  width: 250px;
  padding: 20px;
    height: 480px;
    padding-top: 10px;
  border-radius: 15px;
  border: 2px dashed #9BCC21;
  box-shadow: 0 0 0px 10px #f0f0f0;
    margin-top: 50px
}

.imagen-login {
  letter-spacing: 0px;  
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;  
    width: 100%
}

